{% load static %} {% block content %}
{% include "admin/dashboard.html" %}
<head>
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <script type="text/javascript">
        function eliminarProducto(id) {
            Swal.fire({
                "title": "¿Estas seguro?",
                "text": "Esta accion es irreversible",
                "icon": "warning",
                "showCancelButton":true,
                "cancelButtonText": "No, cancelar",
                "confirmButtonText": "Si, eliminar",
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result) {
                if(result.isConfirmed){
                    window.location.href = "/eliminar-producto/"+id+"/"
                }
                
            })
        }

    </script>
</head>

<body>
    <div id="contenido" class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Listado de Productos</h3>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover" >
                                <thead>
                                    <tr>
                                        <th>Modelo</th>
                                        <th>Marca</th>
                                        <th>Precio</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in response %}
                                    <tr>
                                        <td>{{ p.marca | title }}</td>
                                        <td>{{ p.modelo | title }}</td>
                                        {% load humanize %}
                                        <td>${{ p.precio | intcomma }}</td>
                                        <td> 
                                            {% if perms.app.change_producto %}
                                            <a href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                                            {% endif %}
                                            {% if perms.app.delete_producto%}
                                            <a href="#" onclick="eliminarProducto({{p.id}})" class="btn btn-danger btn-sm ml-5">Eliminar</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>


<!--Scripts para el datatable-->


<!-- jQuery -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- AdminLTE App -->




<script>
  $(function () {
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
    });
  });
</script>


</body>


{% endblock %}
